
.footer {
    width: 100%;
    background-color: #052b59;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-links {
    display: flex;
    gap: 15px;
  }
  
  .social-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-link:hover {
    color: #027cff;
  }
  .ocp{
    color: rgb(0, 147, 0);
  }